@{
    ViewData["Title"] = "Home Page";
}

<body class="home">
    <div class="text-center">
        <h1 class="display-4 text-black">Welcome to Berras Bio</h1>
    </div>
    <br />
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="~/images/SpiderMan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Spider-Man</h5>
                <p class="card-text">With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes from other worlds start to appear, forcing Peter to discover what it truly means to be Spider-Man.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">16:00</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Displays" asp-action="Index" class="btn btn-dark">Book ticket</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/MortalKombat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mortal Kombat</h5>
                <p class="card-text">MMA fighter Cole Young seeks out Earth's greatest champions in order to stand against the enemies of Outworld in a high stakes battle for the universe.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">18:00</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Displays" asp-action="Index" class="btn btn-dark">Book ticket</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/JusticeLeague.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Justice League</h5>
                <p class="card-text">Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">20:00</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Displays" asp-action="Index" class="btn btn-dark">Book ticket</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/images/Joker.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Joker</h5>
                <p class="card-text">A mentally troubled stand-up comedian embarks on a downward spiral that leads to the creation of an iconic villain.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">22:00</li>
            </ul>
            <div class="card-body">
                <a asp-controller="Displays" asp-action="Index" class="btn btn-dark">Book ticket</a>
            </div>
        </div>
    </div>
</body>
